@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

* {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
}

.logo {
  font-family: 'Bonheur Royale', serif;
}

.bg-night {
  background-color: #111;
}

