# Ignore node_modules
node_modules/

# Ignore log files
logs/
*.log
npm-debug.log*

# Ignore environment variables
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build output
dist/
build/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore coverage directory
coverage/

# Ignore npm lock file
package-lock.json

# Ignore temporary files
*.tmp
*.swp

# Ignore other folders and files
backend/node_modules/
frontend/node_modules/
backend/dist/
frontend/dist/
